*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container1{
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.cellsWraper{
    height: fit-content;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
table{
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
}
.cell{
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   width: 15px;
   height: 15px;
   min-width: 15px;
   min-height: 15px;
   cursor: pointer;
}
.live{
    background-color: tomato;
    
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 15px;
}
button{
    cursor: pointer;
    padding: 5px 10px;
}
.btn{
    transition:.3s all ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}

.topbar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo img{
    width: 60px;
}